<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" verbose="1" thread-count="1" parallel="tests">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="ChromeTest"   >
      <parameter name="browser" value="Chrome" />
    <packages>
      <package name="com.ethoca.magicmouse.test" />
        </packages>
    </test>
 </suite>


